# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Global settings
[*]
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4
